#bcit-logo {
    width: 250px;
}

.circle-image {
    border-radius: 50%;
    display: block;
    width: 128px;
    margin-left: auto;
    margin-right: auto;
}

.text-center {
    text-align: center;
}

h2 {
    margin-top: 15px;
    font-size: 20pt;
}